In [1]:
from pathlib import Path

import pandas as pd

In [2]:
%load_ext autoreload
%autoreload 2
import sys
sys.path.append("../..")
from berp.datasets.alignment import Aligner

In [3]:
presentation_words_path = "/home/jgauthie/om2/others/heilbron2022/notebooks/exported/words.csv"
presentation_phonemes_path = "/home/jgauthie/om2/others/heilbron2022/notebooks/exported/phonemes.csv"
tokenized_path = "oms.txt"

story_name = "oms"
output_dir = "."

In [19]:
tokens = Path(tokenized_path).read_text().split(" ")

In [20]:
words_df = pd.read_csv(presentation_words_path, index_col=[0, 1])
phonemes_df = pd.read_csv(presentation_phonemes_path, index_col=[0, 1])

In [21]:
words_df

            word   onset  offset
run
1   0         HE    0.76    0.88
    1        WAS    0.88    1.04
    2         AN    1.04    1.12
    3        OLD    1.12    1.41
    4        MAN    1.41    1.79
...          ...     ...     ...
19  585   LOOKED  175.41  175.66
    586       AT  175.66  175.81
    587       IT  175.81  175.92
    588       IN  175.92  176.04
    589  DISGUST  176.04  176.67

[10771 rows x 3 columns]

In [22]:
# Hacks
assert words_df.loc[5].loc[446].word == "J."
words_df.loc[5].loc[446, "word"] = "J"

In [ ]:
alignment = Aligner(tokens, words_df, max_skip_patience=0)()